      body {
        background-color: #f8f9fa;
      }
      .navbar {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
      #logo {
        height: 100px;
      }
      .carousel-item img {
        height: 60vh;
        object-fit: cover;
        filter: brightness(0.6);
      }